body {
    background-color: wheat;
    font-family: sans-serif;
}
.title  {
    text-align: center;
    size: 40px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    size: 20px;
}